@charset "utf-8";

@font-face {
  font-family: "Noto Sans JP";
  src:
    local("Noto Sans JP"),
    url("./NotoSansJP-Medium.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans";
  color: #222;
  user-select: none;
  -webkit-user-drag: none;
  list-style: none;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #e9df55, #92296a);
}

@media (prefers-color-scheme: dark) {
  * {
    color: #fff;
  }

  body {
    background: linear-gradient(135deg, #b39b33, #85293d);
  }
}
